################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PurcellPartners/FileContentIndex/0cfeaff6-405f-4c4d-a65a-b94ba3107ad2.vsidx
*.bin
*.v2
*.vsidx
/.vs/PurcellPartners/v17/.suo
/.vs/PurcellPartners/v17/.wsuo
*.dll
*.exe
*.pdb
*.cache
/PurcellPartners/obj/Debug/net8.0/PurcellPartners.csproj.FileListAbsolute.txt
/PurcellPartners/obj/Debug/net8.0/PurcellPartners.AssemblyInfoInputs.cache
/PurcellPartners/obj/Debug/net8.0/PurcellPartners.csproj.BuildWithSkipAnalyzers
/PurcellPartners/obj/Debug/net8.0/PurcellPartners.AssemblyInfo.cs
/.vs/PurcellPartners/v17/DocumentLayout.json
/PurcellPartners/bin/Debug/net8.0/PurcellPartners.deps.json
/PurcellPartners/bin/Debug/net8.0/PurcellPartners.runtimeconfig.json
/UnitTests/bin/Debug/net8.0/.msCoverageSourceRootsMapping_UnitTests
/UnitTests/bin/Debug/net8.0/nunit_random_seed.tmp
/UnitTests/bin/Debug/net8.0/PurcellPartners.deps.json
/UnitTests/bin/Debug/net8.0/PurcellPartners.runtimeconfig.json
/UnitTests/bin/Debug/net8.0/UnitTests.deps.json
/UnitTests/bin/Debug/net8.0/UnitTests.runtimeconfig.json
/UnitTests/obj/Debug/net8.0
/UnitTests/obj
/.vs/VSWorkspaceState.json
/PurcellPartners/obj/Debug/net8.0/PurcellPartners.sourcelink.json
/PurcellPartners/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/PurcellPartners/obj/Debug/net8.0/PurcellPartners.GeneratedMSBuildEditorConfig.editorconfig
/PurcellPartners/obj/Debug/net8.0/PurcellPartners.GlobalUsings.g.cs
/PurcellPartners/obj
